Service References/VahanINFO/VahanInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://server.web.vahan.nic/" targetNamespace="http://server.web.vahan.nic/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getChasisDetails" type="tns:getChasisDetails" />
  <xs:element name="getChasisDetailsResponse" type="tns:getChasisDetailsResponse" />
  <xs:element name="getDetails" type="tns:getDetails" />
  <xs:element name="getDetailsResponse" type="tns:getDetailsResponse" />
  <xs:element name="getEngineDetails" type="tns:getEngineDetails" />
  <xs:element name="getEngineDetailsResponse" type="tns:getEngineDetailsResponse" />
  <xs:element name="parseCurrentDateToString" type="tns:parseCurrentDateToString" />
  <xs:element name="parseCurrentDateToStringResponse" type="tns:parseCurrentDateToStringResponse" />
  <xs:complexType name="getDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="client_id" type="xs:string" />
      <xs:element minOccurs="0" name="regn_no" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChasisDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="client_id" type="xs:string" />
      <xs:element minOccurs="0" name="chasi_no" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChasisDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEngineDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="client_id" type="xs:string" />
      <xs:element minOccurs="0" name="engine_no" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEngineDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parseCurrentDateToString">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="parseCurrentDateToStringResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>