Web References/STATUSUPDATE/statusupdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="statusupdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appcode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appsvrcode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="regno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="statuscode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actiondetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionurl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="activitytype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="statusupdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="statusupdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSPCBREGNUMUPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SWSID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="regno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="statuscode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSPCBREGNUMUPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RSPCBREGNUMUPDATEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppIdUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SWSID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="regno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="statuscode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppIdUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppIdUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="statusupdateSoapIn">
    <wsdl:part name="parameters" element="tns:statusupdate" />
  </wsdl:message>
  <wsdl:message name="statusupdateSoapOut">
    <wsdl:part name="parameters" element="tns:statusupdateResponse" />
  </wsdl:message>
  <wsdl:message name="RSPCBREGNUMUPDATESoapIn">
    <wsdl:part name="parameters" element="tns:RSPCBREGNUMUPDATE" />
  </wsdl:message>
  <wsdl:message name="RSPCBREGNUMUPDATESoapOut">
    <wsdl:part name="parameters" element="tns:RSPCBREGNUMUPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="AppIdUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:AppIdUpdate" />
  </wsdl:message>
  <wsdl:message name="AppIdUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:AppIdUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="statusupdateHttpGetIn">
    <wsdl:part name="appcode" type="s:string" />
    <wsdl:part name="appsvrcode" type="s:string" />
    <wsdl:part name="regno" type="s:string" />
    <wsdl:part name="statuscode" type="s:string" />
    <wsdl:part name="remarks" type="s:string" />
    <wsdl:part name="actiondetails" type="s:string" />
    <wsdl:part name="actionurl" type="s:string" />
    <wsdl:part name="activitytype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="statusupdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RSPCBREGNUMUPDATEHttpGetIn">
    <wsdl:part name="SWSID" type="s:string" />
    <wsdl:part name="regno" type="s:string" />
    <wsdl:part name="statuscode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RSPCBREGNUMUPDATEHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AppIdUpdateHttpGetIn">
    <wsdl:part name="SWSID" type="s:string" />
    <wsdl:part name="regno" type="s:string" />
    <wsdl:part name="statuscode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppIdUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="statusupdateHttpPostIn">
    <wsdl:part name="appcode" type="s:string" />
    <wsdl:part name="appsvrcode" type="s:string" />
    <wsdl:part name="regno" type="s:string" />
    <wsdl:part name="statuscode" type="s:string" />
    <wsdl:part name="remarks" type="s:string" />
    <wsdl:part name="actiondetails" type="s:string" />
    <wsdl:part name="actionurl" type="s:string" />
    <wsdl:part name="activitytype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="statusupdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RSPCBREGNUMUPDATEHttpPostIn">
    <wsdl:part name="SWSID" type="s:string" />
    <wsdl:part name="regno" type="s:string" />
    <wsdl:part name="statuscode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RSPCBREGNUMUPDATEHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AppIdUpdateHttpPostIn">
    <wsdl:part name="SWSID" type="s:string" />
    <wsdl:part name="regno" type="s:string" />
    <wsdl:part name="statuscode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppIdUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="STATUSUPDATESoap">
    <wsdl:operation name="statusupdate">
      <wsdl:input message="tns:statusupdateSoapIn" />
      <wsdl:output message="tns:statusupdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <wsdl:input message="tns:RSPCBREGNUMUPDATESoapIn" />
      <wsdl:output message="tns:RSPCBREGNUMUPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <wsdl:input message="tns:AppIdUpdateSoapIn" />
      <wsdl:output message="tns:AppIdUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="STATUSUPDATEHttpGet">
    <wsdl:operation name="statusupdate">
      <wsdl:input message="tns:statusupdateHttpGetIn" />
      <wsdl:output message="tns:statusupdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <wsdl:input message="tns:RSPCBREGNUMUPDATEHttpGetIn" />
      <wsdl:output message="tns:RSPCBREGNUMUPDATEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <wsdl:input message="tns:AppIdUpdateHttpGetIn" />
      <wsdl:output message="tns:AppIdUpdateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="STATUSUPDATEHttpPost">
    <wsdl:operation name="statusupdate">
      <wsdl:input message="tns:statusupdateHttpPostIn" />
      <wsdl:output message="tns:statusupdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <wsdl:input message="tns:RSPCBREGNUMUPDATEHttpPostIn" />
      <wsdl:output message="tns:RSPCBREGNUMUPDATEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <wsdl:input message="tns:AppIdUpdateHttpPostIn" />
      <wsdl:output message="tns:AppIdUpdateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="STATUSUPDATESoap" type="tns:STATUSUPDATESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="statusupdate">
      <soap:operation soapAction="http://tempuri.org/statusupdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <soap:operation soapAction="http://tempuri.org/RSPCBREGNUMUPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <soap:operation soapAction="http://tempuri.org/AppIdUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="STATUSUPDATESoap12" type="tns:STATUSUPDATESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="statusupdate">
      <soap12:operation soapAction="http://tempuri.org/statusupdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <soap12:operation soapAction="http://tempuri.org/RSPCBREGNUMUPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <soap12:operation soapAction="http://tempuri.org/AppIdUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="STATUSUPDATEHttpGet" type="tns:STATUSUPDATEHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="statusupdate">
      <http:operation location="/statusupdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <http:operation location="/RSPCBREGNUMUPDATE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <http:operation location="/AppIdUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="STATUSUPDATEHttpPost" type="tns:STATUSUPDATEHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="statusupdate">
      <http:operation location="/statusupdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RSPCBREGNUMUPDATE">
      <http:operation location="/RSPCBREGNUMUPDATE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppIdUpdate">
      <http:operation location="/AppIdUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="STATUSUPDATE">
    <wsdl:port name="STATUSUPDATESoap" binding="tns:STATUSUPDATESoap">
      <soap:address location="http://swcstest.rajasthan.gov.in:8887/statusupdate.asmx" />
    </wsdl:port>
    <wsdl:port name="STATUSUPDATESoap12" binding="tns:STATUSUPDATESoap12">
      <soap12:address location="http://swcstest.rajasthan.gov.in:8887/statusupdate.asmx" />
    </wsdl:port>
    <wsdl:port name="STATUSUPDATEHttpGet" binding="tns:STATUSUPDATEHttpGet">
      <http:address location="http://swcstest.rajasthan.gov.in:8887/statusupdate.asmx" />
    </wsdl:port>
    <wsdl:port name="STATUSUPDATEHttpPost" binding="tns:STATUSUPDATEHttpPost">
      <http:address location="http://swcstest.rajasthan.gov.in:8887/statusupdate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>