Service References/Forest_Ven_Workorder/forest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetVendors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OfficeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVendorsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OfficeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkOrdersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVendorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVendors" />
  </wsdl:message>
  <wsdl:message name="GetVendorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkOrders" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetVendorsHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="OfficeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVendorsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="OfficeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetVendorsHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="OfficeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVendorsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="OfficeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="forestSoap">
    <wsdl:operation name="GetVendors">
      <wsdl:input message="tns:GetVendorsSoapIn" />
      <wsdl:output message="tns:GetVendorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <wsdl:input message="tns:GetWorkOrdersSoapIn" />
      <wsdl:output message="tns:GetWorkOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="forestHttpGet">
    <wsdl:operation name="GetVendors">
      <wsdl:input message="tns:GetVendorsHttpGetIn" />
      <wsdl:output message="tns:GetVendorsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <wsdl:input message="tns:GetWorkOrdersHttpGetIn" />
      <wsdl:output message="tns:GetWorkOrdersHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="forestHttpPost">
    <wsdl:operation name="GetVendors">
      <wsdl:input message="tns:GetVendorsHttpPostIn" />
      <wsdl:output message="tns:GetVendorsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <wsdl:input message="tns:GetWorkOrdersHttpPostIn" />
      <wsdl:output message="tns:GetWorkOrdersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="forestSoap" type="tns:forestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVendors">
      <soap:operation soapAction="http://tempuri.org/GetVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <soap:operation soapAction="http://tempuri.org/GetWorkOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="forestSoap12" type="tns:forestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVendors">
      <soap12:operation soapAction="http://tempuri.org/GetVendors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <soap12:operation soapAction="http://tempuri.org/GetWorkOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="forestHttpGet" type="tns:forestHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetVendors">
      <http:operation location="/GetVendors" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <http:operation location="/GetWorkOrders" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="forestHttpPost" type="tns:forestHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetVendors">
      <http:operation location="/GetVendors" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrders">
      <http:operation location="/GetWorkOrders" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="forest">
    <wsdl:port name="forestSoap" binding="tns:forestSoap">
      <soap:address location="http://wam.raj.nic.in/forest.asmx" />
    </wsdl:port>
    <wsdl:port name="forestSoap12" binding="tns:forestSoap12">
      <soap12:address location="http://wam.raj.nic.in/forest.asmx" />
    </wsdl:port>
    <wsdl:port name="forestHttpGet" binding="tns:forestHttpGet">
      <http:address location="http://wam.raj.nic.in/forest.asmx" />
    </wsdl:port>
    <wsdl:port name="forestHttpPost" binding="tns:forestHttpPost">
      <http:address location="http://wam.raj.nic.in/forest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>