Service References/RTI_APP_Services/rti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rti.rajasthan.gov.in/WebService/" xmlns:s1="https://rti.rajasthan.gov.in" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.rti.rajasthan.gov.in/WebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rti.rajasthan.gov.in/WebService/">
      <s:import namespace="https://rti.rajasthan.gov.in" />
      <s:element name="GetTransactionBySSOIDJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionBySSOIDJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionBySSOIDJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionBySSOIDXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionBySSOIDXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionBySSOIDXMLResult" type="tns:ArrayOfCitizenTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCitizenTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CitizenTransaction" nillable="true" type="s1:CitizenTransaction" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTransactionBySSOIDDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionBySSOIDDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionBySSOIDDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application_no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iseng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationStatusJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application_no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iseng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationStatusDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application_no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iseng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealStatusJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppealNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iseng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealStatusJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppealStatusJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealStatusXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppealNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iseng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealStatusXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Appeal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealStatusDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppealNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iseng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealStatusDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppealStatusDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Role_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeptForDashBoardJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Role_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DeptForDashBoard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Role_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeptForDashBoardDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardstring">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sso_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Role_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeptForDashBoardstringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeptForDashBoardstringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationAllTransactionBySSOIDJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSO_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationAllTransactionBySSOIDJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationAllTransactionBySSOIDJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealAllTransactionBySSOIDJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSO_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppealAllTransactionBySSOIDJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppealAllTransactionBySSOIDJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecondAppealsAllTransactionBySSOIDJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSO_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecondAppealsAllTransactionBySSOIDJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecondAppealsAllTransactionBySSOIDJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComplaintsAllTransactionBySSOIDJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSO_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComplaintsAllTransactionBySSOIDJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComplaintsAllTransactionBySSOIDJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMAAllTransactionBySSOIDJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSO_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMAAllTransactionBySSOIDJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMAAllTransactionBySSOIDJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfCitizenTransaction" nillable="true" type="tns:ArrayOfCitizenTransaction" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="https://rti.rajasthan.gov.in">
      <s:complexType name="CitizenTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SSOID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Service_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Service_Detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Request_Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaction_StartTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaction_Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaction_StatusTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaction_Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaidAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Channel" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Application" type="s1:Application" />
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Citizen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addressofcitizen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardPerformedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardActivity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardPerformedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Inward_ActionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Outward_ActionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardActivity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardRemarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Appeal" type="s1:Appeal" />
      <s:complexType name="Appeal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Citizen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addressofcitizen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardPerformedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardActivity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutwardRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardActivity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardPerformedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InwardRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Inward_ActionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Outward_ActionType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeptForDashBoard" type="s1:DeptForDashBoard" />
      <s:complexType name="DeptForDashBoard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="department_id" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTransactionBySSOIDJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionBySSOIDJSON" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionBySSOIDJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionBySSOIDXML" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionBySSOIDXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionBySSOIDDataSet" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionBySSOIDDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusJSON" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusDataSet" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusXML" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppealStatusJSON" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppealStatusJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppealStatusXML" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppealStatusXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppealStatusDataSet" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppealStatusDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardJSON" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardXML" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardstringSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardstring" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardstringSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptForDashBoardstringResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationAllTransactionBySSOIDJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationAllTransactionBySSOIDJSON" />
  </wsdl:message>
  <wsdl:message name="GetApplicationAllTransactionBySSOIDJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationAllTransactionBySSOIDJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppealAllTransactionBySSOIDJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppealAllTransactionBySSOIDJSON" />
  </wsdl:message>
  <wsdl:message name="GetAppealAllTransactionBySSOIDJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppealAllTransactionBySSOIDJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecondAppealsAllTransactionBySSOIDJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecondAppealsAllTransactionBySSOIDJSON" />
  </wsdl:message>
  <wsdl:message name="GetSecondAppealsAllTransactionBySSOIDJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecondAppealsAllTransactionBySSOIDJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetComplaintsAllTransactionBySSOIDJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetComplaintsAllTransactionBySSOIDJSON" />
  </wsdl:message>
  <wsdl:message name="GetComplaintsAllTransactionBySSOIDJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetComplaintsAllTransactionBySSOIDJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetMAAllTransactionBySSOIDJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetMAAllTransactionBySSOIDJSON" />
  </wsdl:message>
  <wsdl:message name="GetMAAllTransactionBySSOIDJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetMAAllTransactionBySSOIDJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDJSONHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDXMLHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCitizenTransaction" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDDataSetHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusJSONHttpGetIn">
    <wsdl:part name="application_no" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusDataSetHttpGetIn">
    <wsdl:part name="application_no" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusXMLHttpGetIn">
    <wsdl:part name="application_no" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusXMLHttpGetOut">
    <wsdl:part name="Body" element="s1:Application" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusJSONHttpGetIn">
    <wsdl:part name="AppealNo" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusXMLHttpGetIn">
    <wsdl:part name="AppealNo" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusXMLHttpGetOut">
    <wsdl:part name="Body" element="s1:Appeal" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusDataSetHttpGetIn">
    <wsdl:part name="AppealNo" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardJSONHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardXMLHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardXMLHttpGetOut">
    <wsdl:part name="Body" element="s1:DeptForDashBoard" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardDataSetHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardstringHttpGetIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardstringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationAllTransactionBySSOIDJSONHttpGetIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationAllTransactionBySSOIDJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealAllTransactionBySSOIDJSONHttpGetIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealAllTransactionBySSOIDJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSecondAppealsAllTransactionBySSOIDJSONHttpGetIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSecondAppealsAllTransactionBySSOIDJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetComplaintsAllTransactionBySSOIDJSONHttpGetIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetComplaintsAllTransactionBySSOIDJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMAAllTransactionBySSOIDJSONHttpGetIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMAAllTransactionBySSOIDJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDJSONHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDXMLHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCitizenTransaction" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDDataSetHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTransactionBySSOIDDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusJSONHttpPostIn">
    <wsdl:part name="application_no" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusDataSetHttpPostIn">
    <wsdl:part name="application_no" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusXMLHttpPostIn">
    <wsdl:part name="application_no" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusXMLHttpPostOut">
    <wsdl:part name="Body" element="s1:Application" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusJSONHttpPostIn">
    <wsdl:part name="AppealNo" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusXMLHttpPostIn">
    <wsdl:part name="AppealNo" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusXMLHttpPostOut">
    <wsdl:part name="Body" element="s1:Appeal" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusDataSetHttpPostIn">
    <wsdl:part name="AppealNo" type="s:string" />
    <wsdl:part name="iseng" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealStatusDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardJSONHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardXMLHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardXMLHttpPostOut">
    <wsdl:part name="Body" element="s1:DeptForDashBoard" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardDataSetHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_Name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardstringHttpPostIn">
    <wsdl:part name="sso_id" type="s:string" />
    <wsdl:part name="Role_name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptForDashBoardstringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationAllTransactionBySSOIDJSONHttpPostIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationAllTransactionBySSOIDJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealAllTransactionBySSOIDJSONHttpPostIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAppealAllTransactionBySSOIDJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSecondAppealsAllTransactionBySSOIDJSONHttpPostIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSecondAppealsAllTransactionBySSOIDJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetComplaintsAllTransactionBySSOIDJSONHttpPostIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetComplaintsAllTransactionBySSOIDJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMAAllTransactionBySSOIDJSONHttpPostIn">
    <wsdl:part name="SSO_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMAAllTransactionBySSOIDJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="RTISoap">
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetTransactionBySSOIDJSONSoapIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <wsdl:input message="tns:GetTransactionBySSOIDXMLSoapIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <wsdl:input message="tns:GetTransactionBySSOIDDataSetSoapIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <wsdl:input message="tns:GetApplicationStatusJSONSoapIn" />
      <wsdl:output message="tns:GetApplicationStatusJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <wsdl:input message="tns:GetApplicationStatusDataSetSoapIn" />
      <wsdl:output message="tns:GetApplicationStatusDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <wsdl:input message="tns:GetApplicationStatusXMLSoapIn" />
      <wsdl:output message="tns:GetApplicationStatusXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <wsdl:input message="tns:GetAppealStatusJSONSoapIn" />
      <wsdl:output message="tns:GetAppealStatusJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <wsdl:input message="tns:GetAppealStatusXMLSoapIn" />
      <wsdl:output message="tns:GetAppealStatusXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <wsdl:input message="tns:GetAppealStatusDataSetSoapIn" />
      <wsdl:output message="tns:GetAppealStatusDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <wsdl:input message="tns:GetDeptForDashBoardJSONSoapIn" />
      <wsdl:output message="tns:GetDeptForDashBoardJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <wsdl:input message="tns:GetDeptForDashBoardXMLSoapIn" />
      <wsdl:output message="tns:GetDeptForDashBoardXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <wsdl:input message="tns:GetDeptForDashBoardDataSetSoapIn" />
      <wsdl:output message="tns:GetDeptForDashBoardDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <wsdl:input message="tns:GetDeptForDashBoardstringSoapIn" />
      <wsdl:output message="tns:GetDeptForDashBoardstringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetApplicationAllTransactionBySSOIDJSONSoapIn" />
      <wsdl:output message="tns:GetApplicationAllTransactionBySSOIDJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetAppealAllTransactionBySSOIDJSONSoapIn" />
      <wsdl:output message="tns:GetAppealAllTransactionBySSOIDJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetSecondAppealsAllTransactionBySSOIDJSONSoapIn" />
      <wsdl:output message="tns:GetSecondAppealsAllTransactionBySSOIDJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetComplaintsAllTransactionBySSOIDJSONSoapIn" />
      <wsdl:output message="tns:GetComplaintsAllTransactionBySSOIDJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetMAAllTransactionBySSOIDJSONSoapIn" />
      <wsdl:output message="tns:GetMAAllTransactionBySSOIDJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RTIHttpGet">
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetTransactionBySSOIDJSONHttpGetIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <wsdl:input message="tns:GetTransactionBySSOIDXMLHttpGetIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <wsdl:input message="tns:GetTransactionBySSOIDDataSetHttpGetIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDDataSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <wsdl:input message="tns:GetApplicationStatusJSONHttpGetIn" />
      <wsdl:output message="tns:GetApplicationStatusJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <wsdl:input message="tns:GetApplicationStatusDataSetHttpGetIn" />
      <wsdl:output message="tns:GetApplicationStatusDataSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <wsdl:input message="tns:GetApplicationStatusXMLHttpGetIn" />
      <wsdl:output message="tns:GetApplicationStatusXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <wsdl:input message="tns:GetAppealStatusJSONHttpGetIn" />
      <wsdl:output message="tns:GetAppealStatusJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <wsdl:input message="tns:GetAppealStatusXMLHttpGetIn" />
      <wsdl:output message="tns:GetAppealStatusXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <wsdl:input message="tns:GetAppealStatusDataSetHttpGetIn" />
      <wsdl:output message="tns:GetAppealStatusDataSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <wsdl:input message="tns:GetDeptForDashBoardJSONHttpGetIn" />
      <wsdl:output message="tns:GetDeptForDashBoardJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <wsdl:input message="tns:GetDeptForDashBoardXMLHttpGetIn" />
      <wsdl:output message="tns:GetDeptForDashBoardXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <wsdl:input message="tns:GetDeptForDashBoardDataSetHttpGetIn" />
      <wsdl:output message="tns:GetDeptForDashBoardDataSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <wsdl:input message="tns:GetDeptForDashBoardstringHttpGetIn" />
      <wsdl:output message="tns:GetDeptForDashBoardstringHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetApplicationAllTransactionBySSOIDJSONHttpGetIn" />
      <wsdl:output message="tns:GetApplicationAllTransactionBySSOIDJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetAppealAllTransactionBySSOIDJSONHttpGetIn" />
      <wsdl:output message="tns:GetAppealAllTransactionBySSOIDJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetSecondAppealsAllTransactionBySSOIDJSONHttpGetIn" />
      <wsdl:output message="tns:GetSecondAppealsAllTransactionBySSOIDJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetComplaintsAllTransactionBySSOIDJSONHttpGetIn" />
      <wsdl:output message="tns:GetComplaintsAllTransactionBySSOIDJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetMAAllTransactionBySSOIDJSONHttpGetIn" />
      <wsdl:output message="tns:GetMAAllTransactionBySSOIDJSONHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RTIHttpPost">
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetTransactionBySSOIDJSONHttpPostIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <wsdl:input message="tns:GetTransactionBySSOIDXMLHttpPostIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <wsdl:input message="tns:GetTransactionBySSOIDDataSetHttpPostIn" />
      <wsdl:output message="tns:GetTransactionBySSOIDDataSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <wsdl:input message="tns:GetApplicationStatusJSONHttpPostIn" />
      <wsdl:output message="tns:GetApplicationStatusJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <wsdl:input message="tns:GetApplicationStatusDataSetHttpPostIn" />
      <wsdl:output message="tns:GetApplicationStatusDataSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <wsdl:input message="tns:GetApplicationStatusXMLHttpPostIn" />
      <wsdl:output message="tns:GetApplicationStatusXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <wsdl:input message="tns:GetAppealStatusJSONHttpPostIn" />
      <wsdl:output message="tns:GetAppealStatusJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <wsdl:input message="tns:GetAppealStatusXMLHttpPostIn" />
      <wsdl:output message="tns:GetAppealStatusXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <wsdl:input message="tns:GetAppealStatusDataSetHttpPostIn" />
      <wsdl:output message="tns:GetAppealStatusDataSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <wsdl:input message="tns:GetDeptForDashBoardJSONHttpPostIn" />
      <wsdl:output message="tns:GetDeptForDashBoardJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <wsdl:input message="tns:GetDeptForDashBoardXMLHttpPostIn" />
      <wsdl:output message="tns:GetDeptForDashBoardXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <wsdl:input message="tns:GetDeptForDashBoardDataSetHttpPostIn" />
      <wsdl:output message="tns:GetDeptForDashBoardDataSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <wsdl:input message="tns:GetDeptForDashBoardstringHttpPostIn" />
      <wsdl:output message="tns:GetDeptForDashBoardstringHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetApplicationAllTransactionBySSOIDJSONHttpPostIn" />
      <wsdl:output message="tns:GetApplicationAllTransactionBySSOIDJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetAppealAllTransactionBySSOIDJSONHttpPostIn" />
      <wsdl:output message="tns:GetAppealAllTransactionBySSOIDJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetSecondAppealsAllTransactionBySSOIDJSONHttpPostIn" />
      <wsdl:output message="tns:GetSecondAppealsAllTransactionBySSOIDJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetComplaintsAllTransactionBySSOIDJSONHttpPostIn" />
      <wsdl:output message="tns:GetComplaintsAllTransactionBySSOIDJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <wsdl:input message="tns:GetMAAllTransactionBySSOIDJSONHttpPostIn" />
      <wsdl:output message="tns:GetMAAllTransactionBySSOIDJSONHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RTISoap" type="tns:RTISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetTransactionBySSOIDXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetTransactionBySSOIDDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationStatusJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationStatusDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationStatusXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealStatusJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealStatusXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealStatusDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardstring" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetSecondAppealsAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetComplaintsAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <soap:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetMAAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RTISoap12" type="tns:RTISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetTransactionBySSOIDXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetTransactionBySSOIDDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationStatusJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationStatusDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationStatusXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealStatusJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealStatusXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealStatusDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetDeptForDashBoardstring" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetApplicationAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetAppealAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetSecondAppealsAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetComplaintsAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <soap12:operation soapAction="http://www.rti.rajasthan.gov.in/WebService/GetMAAllTransactionBySSOIDJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RTIHttpGet" type="tns:RTIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <http:operation location="/GetTransactionBySSOIDJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <http:operation location="/GetTransactionBySSOIDXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <http:operation location="/GetTransactionBySSOIDDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <http:operation location="/GetApplicationStatusJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <http:operation location="/GetApplicationStatusDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <http:operation location="/GetApplicationStatusXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <http:operation location="/GetAppealStatusJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <http:operation location="/GetAppealStatusXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <http:operation location="/GetAppealStatusDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <http:operation location="/GetDeptForDashBoardJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <http:operation location="/GetDeptForDashBoardXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <http:operation location="/GetDeptForDashBoardDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <http:operation location="/GetDeptForDashBoardstring" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <http:operation location="/GetApplicationAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <http:operation location="/GetAppealAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <http:operation location="/GetSecondAppealsAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <http:operation location="/GetComplaintsAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <http:operation location="/GetMAAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RTIHttpPost" type="tns:RTIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTransactionBySSOIDJSON">
      <http:operation location="/GetTransactionBySSOIDJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDXML">
      <http:operation location="/GetTransactionBySSOIDXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionBySSOIDDataSet">
      <http:operation location="/GetTransactionBySSOIDDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusJSON">
      <http:operation location="/GetApplicationStatusJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusDataSet">
      <http:operation location="/GetApplicationStatusDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatusXML">
      <http:operation location="/GetApplicationStatusXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusJSON">
      <http:operation location="/GetAppealStatusJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusXML">
      <http:operation location="/GetAppealStatusXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealStatusDataSet">
      <http:operation location="/GetAppealStatusDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardJSON">
      <http:operation location="/GetDeptForDashBoardJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardXML">
      <http:operation location="/GetDeptForDashBoardXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardDataSet">
      <http:operation location="/GetDeptForDashBoardDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForDashBoardstring">
      <http:operation location="/GetDeptForDashBoardstring" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationAllTransactionBySSOIDJSON">
      <http:operation location="/GetApplicationAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppealAllTransactionBySSOIDJSON">
      <http:operation location="/GetAppealAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecondAppealsAllTransactionBySSOIDJSON">
      <http:operation location="/GetSecondAppealsAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplaintsAllTransactionBySSOIDJSON">
      <http:operation location="/GetComplaintsAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMAAllTransactionBySSOIDJSON">
      <http:operation location="/GetMAAllTransactionBySSOIDJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTI">
    <wsdl:port name="RTISoap" binding="tns:RTISoap">
      <soap:address location="http://rtitest.rajasthan.gov.in/webservice/rti.asmx" />
    </wsdl:port>
    <wsdl:port name="RTISoap12" binding="tns:RTISoap12">
      <soap12:address location="http://rtitest.rajasthan.gov.in/webservice/rti.asmx" />
    </wsdl:port>
    <wsdl:port name="RTIHttpGet" binding="tns:RTIHttpGet">
      <http:address location="http://rtitest.rajasthan.gov.in/webservice/rti.asmx" />
    </wsdl:port>
    <wsdl:port name="RTIHttpPost" binding="tns:RTIHttpPost">
      <http:address location="http://rtitest.rajasthan.gov.in/webservice/rti.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>