Service References/BhamashaServices/PRDWSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.esb.org/PRDWSDL/" name="PRDWSDL" targetNamespace="http://www.esb.org/PRDWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="PRDWSDL_InlineSchema1.xsd" />
        <binding hasEncoding="false" imported="true" name="PRDWSDLSOAP" originalBindingStyle="document" />
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.esb.org/PRDWSDL/">
      <xsd:element ibmSchExtn:docRoot="true" name="accrual" type="tns:accrual" />
      <xsd:element ibmSchExtn:docRoot="true" name="accrualResponse" type="tns:accrualResponse" />
      <xsd:element ibmSchExtn:docRoot="true" name="bankmapping" type="tns:bankmapping" />
      <xsd:element ibmSchExtn:docRoot="true" name="bankmappingResponse" type="tns:bankmappingResponse" />
      <xsd:element ibmSchExtn:docRoot="true" name="bhamashahInfo" type="tns:bhamashahInfo" />
      <xsd:element ibmSchExtn:docRoot="true" name="bhamashahInfoResponse" type="tns:bhamashahInfoResponse" />
      <xsd:element ibmSchExtn:docRoot="true" name="mapping" type="tns:mapping" />
      <xsd:element ibmSchExtn:docRoot="true" name="mappingResponse" type="tns:mappingResponse" />
      <xsd:element ibmSchExtn:docRoot="true" name="transaction" type="tns:transaction" />
      <xsd:element ibmSchExtn:docRoot="true" name="transactionResponse" type="tns:transactionResponse" />
      <xsd:element ibmSchExtn:docRoot="true" name="withdrawl" type="tns:withdrawl" />
      <xsd:element ibmSchExtn:docRoot="true" name="withdrawlResponse" type="tns:withdrawlResponse" />
      <xsd:complexType name="accrual">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="scheme" type="xsd:string" />
          <xsd:element minOccurs="0" name="reqXml" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="accrualResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="bankmapping">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqXml" type="xsd:string" />
          <xsd:element minOccurs="0" name="scheme" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="bankmappingResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="bhamashahInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqXml" type="xsd:string" />
          <xsd:element minOccurs="0" name="scheme" type="xsd:string" />
          <xsd:element minOccurs="0" name="infoFlg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="bhamashahInfoResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="mapping">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqXml" type="xsd:string" />
          <xsd:element minOccurs="0" name="scheme" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="mappingResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="transaction">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="scheme" type="xsd:string" />
          <xsd:element minOccurs="0" name="reqXml" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="transactionResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="withdrawl">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="scheme" type="xsd:string" />
          <xsd:element minOccurs="0" name="reqXml" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="withdrawlResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="accrualRequest">
    <wsdl:part name="parameters" element="tns:accrual" />
  </wsdl:message>
  <wsdl:message name="accrualResponse">
    <wsdl:part name="parameters" element="tns:accrualResponse" />
  </wsdl:message>
  <wsdl:message name="bankmappingRequest">
    <wsdl:part name="parameters" element="tns:bankmapping" />
  </wsdl:message>
  <wsdl:message name="bankmappingResponse">
    <wsdl:part name="parameters" element="tns:bankmappingResponse" />
  </wsdl:message>
  <wsdl:message name="bhamashahInfoRequest">
    <wsdl:part name="parameters" element="tns:bhamashahInfo" />
  </wsdl:message>
  <wsdl:message name="bhamashahInfoResponse">
    <wsdl:part name="parameters" element="tns:bhamashahInfoResponse" />
  </wsdl:message>
  <wsdl:message name="mappingRequest">
    <wsdl:part name="parameters" element="tns:mapping" />
  </wsdl:message>
  <wsdl:message name="mappingResponse">
    <wsdl:part name="parameters" element="tns:mappingResponse" />
  </wsdl:message>
  <wsdl:message name="transactionRequest">
    <wsdl:part name="parameters" element="tns:transaction" />
  </wsdl:message>
  <wsdl:message name="transactionResponse">
    <wsdl:part name="parameters" element="tns:transactionResponse" />
  </wsdl:message>
  <wsdl:message name="withdrawlRequest">
    <wsdl:part name="parameters" element="tns:withdrawl" />
  </wsdl:message>
  <wsdl:message name="withdrawlResponse">
    <wsdl:part name="parameters" element="tns:withdrawlResponse" />
  </wsdl:message>
  <wsdl:portType name="PRDWSDL">
    <wsdl:operation name="accrual">
      <wsdl:documentation />
      <wsdl:input message="tns:accrualRequest" />
      <wsdl:output message="tns:accrualResponse" />
    </wsdl:operation>
    <wsdl:operation name="bankmapping">
      <wsdl:input message="tns:bankmappingRequest" />
      <wsdl:output message="tns:bankmappingResponse" />
    </wsdl:operation>
    <wsdl:operation name="bhamashahInfo">
      <wsdl:documentation />
      <wsdl:input message="tns:bhamashahInfoRequest" />
      <wsdl:output message="tns:bhamashahInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="mapping">
      <wsdl:documentation />
      <wsdl:input message="tns:mappingRequest" />
      <wsdl:output message="tns:mappingResponse" />
    </wsdl:operation>
    <wsdl:operation name="transaction">
      <wsdl:input message="tns:transactionRequest" />
      <wsdl:output message="tns:transactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="withdrawl">
      <wsdl:documentation />
      <wsdl:input message="tns:withdrawlRequest" />
      <wsdl:output message="tns:withdrawlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PRDWSDLSOAP" type="tns:PRDWSDL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="accrual">
      <soap:operation soapAction="http://www.esb.org/PRDWSDL/accrual" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bankmapping">
      <soap:operation soapAction="http://www.esb.org/PRDWSDL/bankmapping" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bhamashahInfo">
      <soap:operation soapAction="http://www.esb.org/PRDWSDL/bhamashahInfo" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mapping">
      <soap:operation soapAction="http://www.esb.org/PRDWSDL/mapping" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transaction">
      <soap:operation soapAction="http://www.esb.org/PRDWSDL/transaction" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="withdrawl">
      <soap:operation soapAction="http://www.esb.org/PRDWSDL/withdrawl" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PRDWSDL">
    <wsdl:port name="PRDWSDLSOAP" binding="tns:PRDWSDLSOAP">
      <soap:address location="https://api.sewadwaar.rajasthan.gov.in/app/live/PRDWSDL" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>